---
layout: base
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  {{ content }}

  {% assign posts = site.posts %}

  <h2>Recently Added</h>
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit:3 -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.category }} {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  <hr>

  <h2>Quick Search</h2>
  <input type="text" id="search_field" onkeyup="filter_table()" placeholder="Search table">

  <table id="device_table">
    <tr class="header">
      <th style="width:60%;">Make</th>
      <th style="width:40%;">Model</th>
    </tr>
    {%- for post in posts -%}
      <tr>
        <td>{{ post.category | escape }}</td>
        <td><a href="{{ post.url | relative_url }}">{{ post.title | escape}}</a></td>
      </tr>
    {%- endfor -%}
  </table> 

</div>
